# Coordenadas de pueblos y ciudades

En este apartado usamos las APIs de OpenCage y Nominatim para asignar la latitud y longitud que le corresponde a cada ubicaci칩n.

In [2]:
# !pip install geopy
import pandas as pd
import numpy as np
import glob
import os
from opencage.geocoder import OpenCageGeocode
import time
import pickle

Cargamos todos los nombres en las columnas de condado, distrito y pueblos y ciudades:

In [88]:
def load_vars(name_list, folder="../data/Por fecha/"):
    # https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
    # https://stackoverflow.com/questions/26063231/read-specific-columns-with-pandas-or-other-python-module
    all_files = glob.glob(os.path.join(folder, "*.csv"))
    return pd.concat((pd.read_csv(f, usecols=name_list) for f in all_files), ignore_index=True)

In [89]:
df = load_vars(["County", "District", "Town/City"]).apply(lambda x: x.str.lower())
df["District"].replace(to_replace="the wrekin", value="wrekin", inplace=True)
df.head(2)

  Town/City  District County
0  plymouth  plymouth  devon
1   bristol   bristol   avon

In [90]:
df["address"] = df["County"] + ", " + df["District"] + ", " + df["Town/City"]
df.head()

,Town/City,District,County,address
0,plymouth,plymouth,devon,"devon, plymouth, plymouth"
1,bristol,bristol,avon,"avon, bristol, bristol"
2,hessle,the east yorkshire borough of beverley,humberside,"humberside, the east yorkshire borough of beve..."
3,wakefield,wakefield,west yorkshire,"west yorkshire, wakefield, wakefield"
4,corby,corby,northamptonshire,"northamptonshire, corby, corby"

In [15]:
adresses = df["address"].unique()
len(adresses)

7563

In [36]:
adresses_batch = {}
batch_size = 50
count = 0
while count * batch_size < len(adresses):
    first = count*batch_size
    last = (count+1)*batch_size
    adresses_batch[str(count)] = adresses[first:last]

    count += 1
    print(f"\rNumber of rows stored: {count*batch_size}", end="")

Number of rows stored: 7600

## Extracci칩n de datos de la API Geocode

Tenemos 2000 peticiones diarias, por lo que vamos a hacer batches m치s peque침os. De esta forma, podemos evaluar con mayor flexibilidad y, en caso de que haya errores, podemos localizar mejor el problema.

In [1]:
# !pip install geopy
import pandas as pd
import numpy as np
import glob
import os
from opencage.geocoder import OpenCageGeocode
import time
import pickle
batch_size = 50

In [2]:
with open('../output/addresses_batch.pkl', 'rb') as f:
    adresses_batch = pickle.load(f)
adresses_batch["151"]

array(['north yorkshire, north yorkshire, saltburn-by-the-sea',
       'cumberland, cumberland, holmrook',
       'somerset, somerset, hinton st george',
       'north yorkshire, north yorkshire, pontefract',
       'cumberland, cumberland, seascale',
       'cumberland, cumberland, moor row', 'york, york, pickering',
       'north yorkshire, north yorkshire, darlington',
       'westmorland and furness, westmorland and furness, keswick',
       'somerset, somerset, beaminster',
       'cumberland, cumberland, ravenglass',
       'west berkshire, west berkshire, chipping norton',
       'somerset, somerset, winscombe'], dtype=object)

In [3]:
with open('../output/API_KEY.pkl', 'rb') as f:
    API_KEY = pickle.load(f)

geocoder = OpenCageGeocode(API_KEY)

# Function to get latitude and longitude
def get_lat_long(adress):
    try:
        result = geocoder.geocode(adress)
        time.sleep(1)  # Add a delay of 1 second to respect usage limits
        if result and len(result):
            return result[0]['geometry']['lat'], result[0]['geometry']['lng']
        else:
            return None, None
    except Exception as e:
        print(f"Error: {e}")
        return None, None

In [4]:
len(adresses_batch.keys())

152

In [5]:
def control_batches(ini_idx, end_idx, batches=adresses_batch):
    for idx in np.arange(ini_idx, end_idx):
        try:
            temp = pd.DataFrame(adresses_batch[str(idx)], columns=["address"])
            temp[['Latitude', 'Longitude']] = 0.0
        except:
            temp = adresses_batch[str(idx)]

        temp[['Latitude', 'Longitude']] = temp['address'].apply(lambda x: pd.Series(get_lat_long(x)))
        batches[str(idx)] = temp

        with open('../output/addresses_batch.pkl', 'wb') as f:
            pickle.dump(adresses_batch, f)
        print(f"\rBatch index computed: {idx}/{end_idx-1}", end="")

        

ini_idx = 148
# end_idx = int(ini_idx+2500/batch_size)
end_idx = 152
control_batches(ini_idx, end_idx)

Batch index computed: 151/151

In [7]:
adresses_batch["151"]

                                              address   Latitude  Longitude
0   north yorkshire, north yorkshire, saltburn-by-...  54.554020  -0.794541
1                    cumberland, cumberland, holmrook  54.383566  -3.423382
2                somerset, somerset, hinton st george  50.908519  -2.828491
3        north yorkshire, north yorkshire, pontefract  53.737847  -1.264782
4                    cumberland, cumberland, seascale  54.398941  -3.477168
5                    cumberland, cumberland, moor row  54.514468  -3.537689
6                               york, york, pickering  44.046893 -79.451373
7        north yorkshire, north yorkshire, darlington  54.359291  -1.450427
8   westmorland and furness, westmorland and furne...  54.644739  -2.834147
9                      somerset, somerset, beaminster  50.809000  -2.739100
10                 cumberland, cumberland, ravenglass  54.353916  -3.410166
11    west berkshire, west berkshire, chipping norton  51.941090  -1.545300
12                      somerset, somerset, winscombe  51.300571  -2.830322

In [82]:
with open('../output/addresses_batch.pkl', 'rb') as f:
    loaded_dict = pickle.load(f)

town_city_coords = pd.DataFrame(columns=["address", "Latitude", "Longitude"])
for _, value in adresses_batch.items():
    town_city_coords = pd.concat([town_city_coords, value], axis=0)

town_city_coords = town_city_coords.reset_index()
town_city_coords.drop(columns=["index"], axis=1, inplace=True)
town_city_coords

                                                address   Latitude  Longitude
0                             devon, plymouth, plymouth  50.384416  -4.078946
1                                avon, bristol, bristol  51.449620  -2.557939
2     humberside, the east yorkshire borough of beve...        NaN        NaN
3                  west yorkshire, wakefield, wakefield  53.683046  -1.496800
4                        northamptonshire, corby, corby  52.488849  -0.688383
...                                                 ...        ...        ...
7558  westmorland and furness, westmorland and furne...  54.644739  -2.834147
7559                     somerset, somerset, beaminster  50.809000  -2.739100
7560                 cumberland, cumberland, ravenglass  54.353916  -3.410166
7561    west berkshire, west berkshire, chipping norton  51.941090  -1.545300
7562                      somerset, somerset, winscombe  51.300571  -2.830322

[7563 rows x 3 columns]

## Corregir casos err칩neos usando Nominatum (Open Source)

### NAs
Localizamos los casos que no se hayan asignado correctamente.

In [74]:
addresses_NA = town_city_coords.loc[town_city_coords["Latitude"].isna(), :]

temp = addresses_NA["address"].str.split(",", expand=True)
temp.columns = ["County", "District", "Town/City"]

addresses_NA = pd.concat([temp, addresses_NA], axis=1)

addresses_NA.head()

,County,District,Town/City,address,Latitude,Longitude
2,humberside,the east yorkshire borough of beverley,hessle,"humberside, the east yorkshire borough of beve...",NaN,NaN
147,humberside,the east yorkshire borough of beverley,cottingham,"humberside, the east yorkshire borough of beve...",NaN,NaN
312,cornwall,kerrier,redruth,"cornwall, kerrier, redruth",NaN,NaN
598,powys,montgomeryshire,llanfyllin,"powys, montgomeryshire, llanfyllin",NaN,NaN
731,humberside,cleethorpes,grimsby,"humberside, cleethorpes, grimsby",NaN,NaN

In [75]:
import requests
import time
import logging

# Set up logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

def geocode_address(address):
    base_url = "https://nominatim.openstreetmap.org/search"
    
    # Restructure the address
    address_parts = address.split(', ')
    address_parts.reverse()  # Put the most specific part first
    restructured_address = ", ".join(address_parts)
    
    params = {
        "q": restructured_address,
        "format": "json",
        "limit": 1,
        "countrycodes": "gb",  # Limit results to the UK
        "addressdetails": 1,
        "accept-language": "en"
    }
    
    headers = {
        "User-Agent": "AppName/1.0" 
    }
    
    try:
        response = requests.get(base_url, params=params, headers=headers)
        response.raise_for_status()  # Raise an exception for bad status codes
        
        results = response.json()
        if results:
            return {
                "address": address,
                "latitude": float(results[0]["lat"]),
                "longitude": float(results[0]["lon"]),
                "display_name": results[0].get("display_name")
            }
        else:
            logger.warning(f"No results found for address: {address}")
    except requests.RequestException as e:
        logger.error(f"Error geocoding address '{address}': {str(e)}")
    except (KeyError, IndexError, ValueError) as e:
        logger.error(f"Error parsing result for address '{address}': {str(e)}")
    
    return {"address": address, "latitude": None, "longitude": None, "display_name": None}


addresses = list(addresses_NA["Town/City"].values)


geocoded_results = []

for address in addresses:
    result = geocode_address(address)
    geocoded_results.append(result)
    logger.info(f"Geocoded: {result['address']}")
    logger.info(f"Latitude: {result['latitude']}, Longitude: {result['longitude']}")
    logger.info(f"Display Name: {result['display_name']}")
    logger.info("---")
    
    # Add a delay to avoid overwhelming the API
    time.sleep(1)

# You can now use the geocoded_results list for further processing

INFO:__main__:Geocoded:  hessle
INFO:__main__:Latitude: 53.7231588, Longitude: -0.4349309
INFO:__main__:Display Name: Hessle, East Riding of Yorkshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  cottingham
INFO:__main__:Latitude: 53.7804805, Longitude: -0.4178553
INFO:__main__:Display Name: Cottingham, East Riding of Yorkshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  redruth
INFO:__main__:Latitude: 50.233989, Longitude: -5.2276468
INFO:__main__:Display Name: Redruth, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanfyllin
INFO:__main__:Latitude: 52.7669146, Longitude: -3.2717467
INFO:__main__:Display Name: Llanfyllin, Powys, Wales, SY22 5AU, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  grimsby
INFO:__main__:Latitude: 53.5671407, Longitude: -0.0788045
INFO:__main__:Display Name: Grimsby, North East Lincolnshire, England, DN31 1NR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  porth
INFO:__main__:Latitude: 51.6124972, Longitude: -3.4084092
INFO:__main__:Display Name: Porth, Rhondda Cynon Taf, Wales, CF39 9ST, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llandinam
INFO:__main__:Latitude: 52.4856968, Longitude: -3.4366028
INFO:__main__:Display Name: Llandinam, Powys, Wales, SY17 5DW, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  street
INFO:__main__:Latitude: 51.1267494, Longitude: -2.7397217
INFO:__main__:Display Name: Street, Somerset, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  redruth
INFO:__main__:Latitude: 50.233989, Longitude: -5.2276468
INFO:__main__:Display Name: Redruth, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  penmaenmawr
INFO:__main__:Latitude: 53.2681395, Longitude: -3.9200268
INFO:__main__:Display Name: Penmaenmawr, Conwy, Wales, LL34 6UU, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  cardigan
INFO:__main__:Latitude: 52.0839973, Longitude: -4.6604224
INFO:__main__:Display Name: Cardigan, Ceredigion, Wales, SA43 1JR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  crickhowell
INFO:__main__:Latitude: 51.859112, Longitude: -3.138355
INFO:__main__:Display Name: Crickhowell, Powys, Wales, NP8 1BB, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  harlech
INFO:__main__:Latitude: 52.8587665, Longitude: -4.10745
INFO:__main__:Display Name: Harlech, Gwynedd, Wales, LL46 2SG, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  porth
INFO:__main__:Latitude: 51.6124972, Longitude: -3.4084092
INFO:__main__:Display Name: Porth, Rhondda Cynon Taf, Wales, CF39 9ST, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  caersws
INFO:__main__:Latitude: 52.5166912, Longitude: -3.4287751
INFO:__main__:Display Name: Caersws, Powys, Wales, SY17 5DS, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  porth
INFO:__main__:Latitude: 51.6124972, Longitude: -3.4084092
INFO:__main__:Display Name: Porth, Rhondda Cynon Taf, Wales, CF39 9ST, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bamburgh
INFO:__main__:Latitude: 55.6074722, Longitude: -1.7141346
INFO:__main__:Display Name: Bamburgh, Northumberland, North of Tyne, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  seahouses
INFO:__main__:Latitude: 55.5817163, Longitude: -1.6536511
INFO:__main__:Display Name: Seahouses, Northumberland, North of Tyne, England, NE68 7SJ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  fairbourne
INFO:__main__:Latitude: 52.6970513, Longitude: -4.0511181
INFO:__main__:Display Name: Fairbourne, Gwynedd, Wales, LL38 2AZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  ulceby
INFO:__main__:Latitude: 53.6193448, Longitude: -0.3008051
INFO:__main__:Display Name: Ulceby, Ulceby Road, South Killingholme, North Lincolnshire, England, DN39 6TY, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  tywyn
INFO:__main__:Latitude: 52.5861123, Longitude: -4.0855906
INFO:__main__:Display Name: Tywyn, Gwynedd, Wales, LL36 9EA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  chathill
INFO:__main__:Latitude: 55.5367261, Longitude: -1.7066521
INFO:__main__:Display Name: Chathill, Bamburgh Court, Ellingham, Northumberland, North of Tyne, England, NE67 5EF, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanbrynmair
INFO:__main__:Latitude: 52.6126251, Longitude: -3.6277309
INFO:__main__:Display Name: Llanbrynmair, Powys, Wales, SY19 7AA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  badminton
INFO:__main__:Latitude: 51.5442374, Longitude: -2.2854442
INFO:__main__:Display Name: Badminton, South Gloucestershire, West of England, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  umberleigh
INFO:__main__:Latitude: 50.9957868, Longitude: -3.9847453
INFO:__main__:Display Name: Umberleigh, North Devon, Devon, England, EX37 9AA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  whitland
INFO:__main__:Latitude: 51.81790015, Longitude: -4.609749986340514
INFO:__main__:Display Name: Whitland, Carmarthenshire, Wales, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  talsarnau
INFO:__main__:Latitude: 52.9028694, Longitude: -4.0646824
INFO:__main__:Display Name: Talsarnau, Gwynedd, Wales, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llwyngwril
INFO:__main__:Latitude: 52.6654327, Longitude: -4.0825253
INFO:__main__:Display Name: Llwyngwril, Gwynedd, Wales, LL37 2UZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  calstock
INFO:__main__:Latitude: 50.516859800000006, Longitude: -4.239734195945925
INFO:__main__:Display Name: Calstock, St Ann's Chapel, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  aberdovey
INFO:__main__:Latitude: 52.5451248, Longitude: -4.0533624
INFO:__main__:Display Name: Aberdovey, Gwynedd, Wales, LL35 0NT, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  dolwyddelan
INFO:__main__:Latitude: 53.052963, Longitude: -3.8890881
INFO:__main__:Display Name: Dolwyddelan, Conwy, Wales, LL25 0SQ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  whitland
INFO:__main__:Latitude: 51.81790015, Longitude: -4.609749986340514
INFO:__main__:Display Name: Whitland, Carmarthenshire, Wales, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  meifod
INFO:__main__:Latitude: 52.7092881, Longitude: -3.2531363
INFO:__main__:Display Name: Meifod, Powys, Wales, SY22 6BZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  romford
INFO:__main__:Latitude: 51.5760462, Longitude: 0.1822646
INFO:__main__:Display Name: Romford, London, Greater London, England, RM1 1RX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  talybont
INFO:__main__:Latitude: 52.7729002, Longitude: -4.0970877
INFO:__main__:Display Name: Talybont, Ffordd Glan Mor, Dyffryn Ardudwy, Tal-y-bont, Gwynedd, Wales, LL43 2AX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  fairbourne
INFO:__main__:Latitude: 52.6970513, Longitude: -4.0511181
INFO:__main__:Display Name: Fairbourne, Gwynedd, Wales, LL38 2AZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  grimsby
INFO:__main__:Latitude: 53.5671407, Longitude: -0.0788045
INFO:__main__:Display Name: Grimsby, North East Lincolnshire, England, DN31 1NR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanybydder
INFO:__main__:Latitude: 52.0735984, Longitude: -4.1548796
INFO:__main__:Display Name: Llanybydder, Carmarthenshire, Wales, SA40 9RX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanbedr
INFO:__main__:Latitude: 52.8203328, Longitude: -4.109581
INFO:__main__:Display Name: Llanbedr, Mochras Road, Llanbedr, Gwynedd, Wales, LL45 2LR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  cardigan
INFO:__main__:Latitude: 52.0839973, Longitude: -4.6604224
INFO:__main__:Display Name: Cardigan, Ceredigion, Wales, SA43 1JR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  street
INFO:__main__:Latitude: 51.1267494, Longitude: -2.7397217
INFO:__main__:Display Name: Street, Somerset, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bucknell
INFO:__main__:Latitude: 51.9259934, Longitude: -1.1873725
INFO:__main__:Display Name: Bucknell, Cherwell District, Oxfordshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  chathill
INFO:__main__:Latitude: 55.5367261, Longitude: -1.7066521
INFO:__main__:Display Name: Chathill, Bamburgh Court, Ellingham, Northumberland, North of Tyne, England, NE67 5EF, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  trefriw
INFO:__main__:Latitude: 53.14600155, Longitude: -3.8524918702645037
INFO:__main__:Display Name: Trefriw, Llanrhychwyn, Conwy, Wales, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  templecombe
INFO:__main__:Latitude: 51.0015571, Longitude: -2.4153071
INFO:__main__:Display Name: Templecombe, Somerset, England, BA8 0JA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanfechain
INFO:__main__:Latitude: 52.7748064, Longitude: -3.2020552
INFO:__main__:Display Name: Llanfechain, Powys, Wales, SY22 6YR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  boncath
INFO:__main__:Latitude: 52.0137859, Longitude: -4.6164503
INFO:__main__:Display Name: Boncath, Pembrokeshire, Wales, SA37 0JN, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  cardigan
INFO:__main__:Latitude: 52.0839973, Longitude: -4.6604224
INFO:__main__:Display Name: Cardigan, Ceredigion, Wales, SA43 1JR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  twickenham
INFO:__main__:Latitude: 51.4467444, Longitude: -0.3281887
INFO:__main__:Display Name: Twickenham, London, Greater London, England, TW1 3RZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  redruth
INFO:__main__:Latitude: 50.233989, Longitude: -5.2276468
INFO:__main__:Display Name: Redruth, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  holmrook
INFO:__main__:Latitude: 54.38405265, Longitude: -3.4214373154041366
INFO:__main__:Display Name: Holmrook, Drigg and Carleton, Holmrook, Cumberland, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanybydder
INFO:__main__:Latitude: 52.0735984, Longitude: -4.1548796
INFO:__main__:Display Name: Llanybydder, Carmarthenshire, Wales, SA40 9RX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  romford
INFO:__main__:Latitude: 51.5760462, Longitude: 0.1822646
INFO:__main__:Display Name: Romford, London, Greater London, England, RM1 1RX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  hessle
INFO:__main__:Latitude: 53.7231588, Longitude: -0.4349309
INFO:__main__:Display Name: Hessle, East Riding of Yorkshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  boncath
INFO:__main__:Latitude: 52.0137859, Longitude: -4.6164503
INFO:__main__:Display Name: Boncath, Pembrokeshire, Wales, SA37 0JN, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  porth
INFO:__main__:Latitude: 51.6124972, Longitude: -3.4084092
INFO:__main__:Display Name: Porth, Rhondda Cynon Taf, Wales, CF39 9ST, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  hawes
INFO:__main__:Latitude: 54.3041258, Longitude: -2.1965261
INFO:__main__:Display Name: Hawes, North Yorkshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  twickenham
INFO:__main__:Latitude: 51.4467444, Longitude: -0.3281887
INFO:__main__:Display Name: Twickenham, London, Greater London, England, TW1 3RZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  pentraeth
INFO:__main__:Latitude: 53.2816608, Longitude: -4.2145365
INFO:__main__:Display Name: Pentraeth, Isle of Anglesey, Wales, LL75 8AZ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  aberdovey
INFO:__main__:Latitude: 52.5451248, Longitude: -4.0533624
INFO:__main__:Display Name: Aberdovey, Gwynedd, Wales, LL35 0NT, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  borth
INFO:__main__:Latitude: 52.4880991, Longitude: -4.0508057
INFO:__main__:Display Name: Borth, Ceredigion, Wales, SY24 5JA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  loughton
INFO:__main__:Latitude: 51.6467058, Longitude: 0.0544098
INFO:__main__:Display Name: Loughton, Epping Forest, Essex, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  grimsby
INFO:__main__:Latitude: 53.5671407, Longitude: -0.0788045
INFO:__main__:Display Name: Grimsby, North East Lincolnshire, England, DN31 1NR, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanerchymedd
INFO:__main__:Latitude: 53.3285599, Longitude: -4.3769903
INFO:__main__:Display Name: Llanerchymedd, Isle of Anglesey, Wales, LL71 8DL, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  delabole
INFO:__main__:Latitude: 50.6233563, Longitude: -4.7323369
INFO:__main__:Display Name: Delabole, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  rhosneigr
INFO:__main__:Latitude: 53.2262292, Longitude: -4.5203608
INFO:__main__:Display Name: Rhosneigr, Isle of Anglesey, Wales, LL64 5JA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  loughton
INFO:__main__:Latitude: 51.6467058, Longitude: 0.0544098
INFO:__main__:Display Name: Loughton, Epping Forest, Essex, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  redruth
INFO:__main__:Latitude: 50.233989, Longitude: -5.2276468
INFO:__main__:Display Name: Redruth, Cornwall, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanrhystud
INFO:__main__:Latitude: 52.3056381, Longitude: -4.1450371
INFO:__main__:Display Name: Llanrhystud, Ceredigion, Wales, SY23 5DG, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanarth
INFO:__main__:Latitude: 52.1948092, Longitude: -4.3087328
INFO:__main__:Display Name: Llanarth, Ceredigion, Wales, SA47 0NY, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bodorgan
INFO:__main__:Latitude: 53.1881135, Longitude: -4.41875269532742
INFO:__main__:Display Name: Bodorgan, Hermon, Isle of Anglesey, Wales, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  dulverton
INFO:__main__:Latitude: 51.0401391, Longitude: -3.5501607
INFO:__main__:Display Name: Dulverton, Somerset, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  templecombe
INFO:__main__:Latitude: 51.0015571, Longitude: -2.4153071
INFO:__main__:Display Name: Templecombe, Somerset, England, BA8 0JA, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  badminton
INFO:__main__:Latitude: 51.5442374, Longitude: -2.2854442
INFO:__main__:Display Name: Badminton, South Gloucestershire, West of England, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  pencader
INFO:__main__:Latitude: 52.0001337, Longitude: -4.2685111
INFO:__main__:Display Name: Pencader, Carmarthenshire, Wales, SA39 9HF, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  romford
INFO:__main__:Latitude: 51.5760462, Longitude: 0.1822646
INFO:__main__:Display Name: Romford, London, Greater London, England, RM1 1RX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  dulverton
INFO:__main__:Latitude: 51.0401391, Longitude: -3.5501607
INFO:__main__:Display Name: Dulverton, Somerset, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  lynton
INFO:__main__:Latitude: 51.2294185, Longitude: -3.8365118
INFO:__main__:Display Name: Lynton, Lynton and Lynmouth, Lynbridge, North Devon, Devon, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  seahouses
INFO:__main__:Latitude: 55.5817163, Longitude: -1.6536511
INFO:__main__:Display Name: Seahouses, Northumberland, North of Tyne, England, NE68 7SJ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bucknell
INFO:__main__:Latitude: 51.9259934, Longitude: -1.1873725
INFO:__main__:Display Name: Bucknell, Cherwell District, Oxfordshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bamburgh
INFO:__main__:Latitude: 55.6074722, Longitude: -1.7141346
INFO:__main__:Display Name: Bamburgh, Northumberland, North of Tyne, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  bucknell
INFO:__main__:Latitude: 51.9259934, Longitude: -1.1873725
INFO:__main__:Display Name: Bucknell, Cherwell District, Oxfordshire, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  cleator
INFO:__main__:Latitude: 54.5069598, Longitude: -3.5226006
INFO:__main__:Display Name: Cleator, Cumberland, England, CA23 3BU, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanarth
INFO:__main__:Latitude: 52.1948092, Longitude: -4.3087328
INFO:__main__:Display Name: Llanarth, Ceredigion, Wales, SA47 0NY, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  crickhowell
INFO:__main__:Latitude: 51.859112, Longitude: -3.138355
INFO:__main__:Display Name: Crickhowell, Powys, Wales, NP8 1BB, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  loughton
INFO:__main__:Latitude: 51.6467058, Longitude: 0.0544098
INFO:__main__:Display Name: Loughton, Epping Forest, Essex, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  street
INFO:__main__:Latitude: 51.1267494, Longitude: -2.7397217
INFO:__main__:Display Name: Street, Somerset, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  tregaron
INFO:__main__:Latitude: 52.2200293, Longitude: -3.9342811
INFO:__main__:Display Name: Tregaron, Ceredigion, Wales, SY25 6HH, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  dymock
INFO:__main__:Latitude: 51.9789196, Longitude: -2.4392265
INFO:__main__:Display Name: Dymock, Forest of Dean, Gloucestershire, England, GL18 2AX, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  yarm
INFO:__main__:Latitude: 54.5091419, Longitude: -1.3543412
INFO:__main__:Display Name: Yarm, Stockton-on-Tees, Tees Valley, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  dolwyddelan
INFO:__main__:Latitude: 53.052963, Longitude: -3.8890881
INFO:__main__:Display Name: Dolwyddelan, Conwy, Wales, LL25 0SQ, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  boncath
INFO:__main__:Latitude: 52.0137859, Longitude: -4.6164503
INFO:__main__:Display Name: Boncath, Pembrokeshire, Wales, SA37 0JN, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  loughton
INFO:__main__:Latitude: 51.6467058, Longitude: 0.0544098
INFO:__main__:Display Name: Loughton, Epping Forest, Essex, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  llanrhystud
INFO:__main__:Latitude: 52.3056381, Longitude: -4.1450371
INFO:__main__:Display Name: Llanrhystud, Ceredigion, Wales, SY23 5DG, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  polegate
INFO:__main__:Latitude: 50.82768365, Longitude: 0.244665171592643
INFO:__main__:Display Name: Polegate, Wealden, East Sussex, England, United Kingdom
INFO:__main__:---
INFO:__main__:Geocoded:  etchingham

In [76]:
geocoded_results = pd.DataFrame(geocoded_results)
geocoded_results.head()

,address,latitude,longitude,display_name
0,hessle,53.723159,-0.434931,"Hessle, East Riding of Yorkshire, England, Uni..."
1,cottingham,53.780481,-0.417855,"Cottingham, East Riding of Yorkshire, England,..."
2,redruth,50.233989,-5.227647,"Redruth, Cornwall, England, United Kingdom"
3,llanfyllin,52.766915,-3.271747,"Llanfyllin, Powys, Wales, SY22 5AU, United Kin..."
4,grimsby,53.567141,-0.078804,"Grimsby, North East Lincolnshire, England, DN3..."

In [85]:
geocoded_results.index = addresses_NA.index

addresses_NA["Latitude"] = geocoded_results["latitude"]
addresses_NA["Longitude"] = geocoded_results["longitude"]
addresses_NA["new_address"] = geocoded_results["display_name"]
addresses_NA.isna().value_counts()

County  District  Town/City  address  Latitude  Longitude  new_address
False   False     False      False    False     False      False          130
dtype: int64

In [91]:
display(town_city_coords)

                                                address   Latitude  Longitude
0                             devon, plymouth, plymouth  50.384416  -4.078946
1                                avon, bristol, bristol  51.449620  -2.557939
2     humberside, the east yorkshire borough of beve...  53.723159  -0.434931
3                  west yorkshire, wakefield, wakefield  53.683046  -1.496800
4                        northamptonshire, corby, corby  52.488849  -0.688383
...                                                 ...        ...        ...
7558  westmorland and furness, westmorland and furne...  54.644739  -2.834147
7559                     somerset, somerset, beaminster  50.809000  -2.739100
7560                 cumberland, cumberland, ravenglass  54.353916  -3.410166
7561    west berkshire, west berkshire, chipping norton  51.941090  -1.545300
7562                      somerset, somerset, winscombe  51.300571  -2.830322

[7563 rows x 3 columns]

In [83]:
town_city_coords.loc[addresses_NA.index, "Latitude"] = addresses_NA["Latitude"]
town_city_coords.loc[addresses_NA.index, "Longitude"] = addresses_NA["Longitude"]
display(town_city_coords)

                                                address   Latitude  Longitude
0                             devon, plymouth, plymouth  50.384416  -4.078946
1                                avon, bristol, bristol  51.449620  -2.557939
2     humberside, the east yorkshire borough of beve...  53.723159  -0.434931
3                  west yorkshire, wakefield, wakefield  53.683046  -1.496800
4                        northamptonshire, corby, corby  52.488849  -0.688383
...                                                 ...        ...        ...
7558  westmorland and furness, westmorland and furne...  54.644739  -2.834147
7559                     somerset, somerset, beaminster  50.809000  -2.739100
7560                 cumberland, cumberland, ravenglass  54.353916  -3.410166
7561    west berkshire, west berkshire, chipping norton  51.941090  -1.545300
7562                      somerset, somerset, winscombe  51.300571  -2.830322

[7563 rows x 3 columns]

In [102]:
df = df.drop_duplicates()
town_city_coords = pd.merge(left=town_city_coords, right=df, on="address", how="left")
town_city_coords

,address,Latitude,Longitude,Town/City,District,County
0,"devon, plymouth, plymouth",50.384416,-4.078946,plymouth,plymouth,devon
1,"avon, bristol, bristol",51.449620,-2.557939,bristol,bristol,avon
2,"humberside, the east yorkshire borough of beve...",53.723159,-0.434931,hessle,the east yorkshire borough of beverley,humberside
3,"west yorkshire, wakefield, wakefield",53.683046,-1.496800,wakefield,wakefield,west yorkshire
4,"northamptonshire, corby, corby",52.488849,-0.688383,corby,corby,northamptonshire
...,...,...,...,...,...,...
7558,"westmorland and furness, westmorland and furne...",54.644739,-2.834147,keswick,westmorland and furness,westmorland and furness
7559,"somerset, somerset, beaminster",50.809000,-2.739100,beaminster,somerset,somerset
7560,"cumberland, cumberland, ravenglass",54.353916,-3.410166,ravenglass,cumberland,cumberland
7561,"west berkshire, west berkshire, chipping norton",51.941090,-1.545300,chipping norton,west berkshire,west berkshire
7562,"somerset, somerset, winscombe",51.300571,-2.830322,winscombe,somerset,somerset

In [103]:
with open('../output/addresses_NAs.pkl', 'wb') as f:
            pickle.dump(addresses_NA, f)

with open('../output/town_city_coords.pkl', 'wb') as f:
            pickle.dump(town_city_coords, f)

### Comprobar y corregir resultados que caen fuera de Reino Unido

Sabemos que el meridiano de Greenwich pasa por Reino Unido, por lo que la longitud debe estar entorno a cero.

In [58]:
# Load all coordinates
with open("../output/town_city_coords.pkl", "rb") as f:
    town_city_coords = pickle.load(f)

# UK boundaries
import geopandas as gpd
name_temp1 = "NAME_1"
temp1 = gpd.read_file('../_00_Informacion/UK shapefile/gadm41_GBR_3.shp')
temp1 = temp1.set_crs(4326)
temp1 = temp1.loc[:, [name_temp1, "geometry"]]
temp1 = temp1.loc[temp1.loc[:, name_temp1].isin(["England", "Wales"]), :]

minLong, minLat, maxLong, maxLat = temp1.total_bounds
print(f"Rango de valores en Longitud: ({round(minLong, 2)}췈, {round(maxLong, 2)}췈)\n"
      + f"Rango de valores en Latitud: ({round(minLat, 2)}췈, {round(maxLat, 2)}췈)")

Rango de valores en Longitud: (-6.42췈, 1.76췈)
Rango de valores en Latitud: (49.87췈, 55.81췈)

In [41]:
mask = ((town_city_coords["Latitude"]<minLat) | 
        (town_city_coords["Latitude"]>maxLat) | 
        (town_city_coords["Longitude"]<minLong) | 
        (town_city_coords["Longitude"]>maxLong))

out_of_bound = town_city_coords.loc[mask, :].copy()
out_of_bound.shape

(441, 6)

In [43]:
out_of_bound["address"] = out_of_bound["Town/City"] + ", UK"
out_of_bound.head()

,address,Latitude,Longitude,Town/City,District,County
61,"southampton, UK",40.884267,-72.389530,southampton,southampton,southampton
77,"blackwood, UK",39.802340,-75.064060,blackwood,islwyn,gwent
99,"chester, UK",37.372360,-77.448623,chester,chester,cheshire
113,"durham, UK",35.996653,-78.901805,durham,durham,durham
125,"leominster, UK",42.525090,-71.759790,leominster,leominster,hereford and worcester

Usamos la API de Geocode para extraer las nuevas posiciones geogr치ficas:

In [44]:
API_KEY = '275c02ba5e37400eb5ba975673e0acd5'
geocoder = OpenCageGeocode(API_KEY)

# Function to get latitude and longitude
def get_lat_long(adress):
    try:
        result = geocoder.geocode(adress)
        time.sleep(1)  # Add a delay of 1 second to respect usage limits
        if result and len(result):
            return result[0]['geometry']['lat'], result[0]['geometry']['lng']
        else:
            return None, None
    except Exception as e:
        print(f"Error: {e}")
        return None, None

# Perform requests
new_coordinates = out_of_bound.copy()

new_coordinates[['Latitude', 'Longitude']] = new_coordinates['address'].apply(
    lambda x: pd.Series(get_lat_long(x))
    )

new_coordinates.head()

,address,Latitude,Longitude,Town/City,District,County
61,"southampton, UK",50.902535,-1.404189,southampton,southampton,southampton
77,"blackwood, UK",51.666319,-3.197433,blackwood,islwyn,gwent
99,"chester, UK",53.190887,-2.890896,chester,chester,cheshire
113,"durham, UK",54.666667,-1.750000,durham,durham,durham
125,"leominster, UK",52.227356,-2.737533,leominster,leominster,hereford and worcester

In [51]:
# Check if values are changed
((out_of_bound[["Latitude", "Longitude"]] - new_coordinates[["Latitude", "Longitude"]]) == 0).sum()

Latitude     0
Longitude    0
dtype: int64

In [59]:
# Replace values in town_city_coords
town_city_coords.loc[new_coordinates.index, ["address", "Latitude", "Longitude"]] = new_coordinates.loc[:, ["address", "Latitude", "Longitude"]]
town_city_coords.head()

,address,Latitude,Longitude,Town/City,District,County,adress
0,"devon, plymouth, plymouth",50.384416,-4.078946,plymouth,plymouth,devon,NaN
1,"avon, bristol, bristol",51.449620,-2.557939,bristol,bristol,avon,NaN
2,"humberside, the east yorkshire borough of beve...",53.723159,-0.434931,hessle,the east yorkshire borough of beverley,humberside,NaN
3,"west yorkshire, wakefield, wakefield",53.683046,-1.496800,wakefield,wakefield,west yorkshire,NaN
4,"northamptonshire, corby, corby",52.488849,-0.688383,corby,corby,northamptonshire,NaN

In [60]:
# Save results
with open('../output/town_city_coords.pkl', 'wb') as f:
            pickle.dump(town_city_coords, f)